<%- include('partials/head')%>
<body class="d-flex flex-column vh-100">
    <main class="container mt-5">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Res Judicata</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/clients">Clients</a>
                  <a class="nav-link" href="/cases">Cases</a>
                  <a class="nav-link" href="/courts">Courts</a>
                  <a class="nav-link" href="/judges">Judges</a>
                  
                </div>
              </div>
            </div>
          </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/judges">Judges</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Judge</li>
            </ol>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4 off-md-3">
                    <div class="signup-form">
                        <form method="POST" action="/addjudge" class="mt-5 border p-4 bg-light shadow mb-3">
                            <h3 class="mb-4 text-secondary">Add Judge</h3>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" class="form-control" placeholder="First Name" id="first_name" required>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last_name" required>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="phone_number">Phone Number</label>
                                    <input type="number" name="phone_number" class="form-control" placeholder="Phone number" id="phone_number" required minlength="9" min="1">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email_address">Email</label>
                                    <input type="email" name="email_address" class="form-control" placeholder="Email" id="email_address" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="clerk">Clerk</label>
                                    <input type="text" name="clerk" class="form-control" placeholder="Enter Clerk Name" id="clerk" minlength="3">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="courtID">Court ID</label>
                                    <input type="number" name="courtID" class="form-control" placeholder="Enter Court ID" id="courtID" required>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="courtroom_num">Room Number</label>
                                <input type="text" name="courtroom_num" class="form-control" placeholder="Enter Court Room" id="courtroom_num" required minlength="1">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary float-end">Add Judge</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>