<%- include('partials/head')%>
<body class="d-flex flex-column vh-100">
    <main class="container mt-5">
    <%- include('partials/navbar')%>
    <h1 class="text-center mt-4 mb-3"> County Courts</h1>
    <table class="table table-hover mt-5 border p-4 bg-light shadow table-bordered">
        <thead>
            <tr>
                <th> CourtID</th>
                <th> Court Name</th>
                <th> Address</th>
                <th> City</th>
                <th> State</th>
                <th> Zip Code</th>
            </tr>
        </thead>
        <tr>
            <td>C100</td>
            <td>Ada County Court</td>
            <td>12 Front St</td>
            <td>Boise</td>
            <td>ID</td>
            <td>83704</td>
        </tr>
        <tr>
            <td>C102</td>
            <td>Canyon County Court</td>
            <td>12 2nd St</td>
            <td>Nampa</td>
            <td>ID</td>
            <td>83703</td>
        </tr>
        <tr>
            <td>C103</td>
            <td>Ada County Court</td>
            <td>12 Front St</td>
            <td>Boise</td>
            <td>ID</td>
            <td>83704</td>
        </tr>
        <tr>
            <td>C104</td>
            <td>Elmore County Court</td>
            <td>12 Front St</td>
            <td>Boise</td>
            <td>ID</td>
            <td>83704</td>
        </tr>
    </table>
    </main>
</body>
</html>