<%- include('partials/head')%>
<body class="d-flex flex column">
        <main class="container mt-5">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Res Judicata</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/clients">Clients</a>
                  <a class="nav-link" href="/cases">Cases</a>
                  <a class="nav-link" href="/courts">Courts</a>
                  <a class="nav-link" href="/judges">Judges</a>
                  
                </div>
              </div>
            </div>
          </nav>
            <div class="d-flex justify-content-center align-items-center" style="background-image: url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80'); height: 100vh;">
                <h1 class="text-light">Res Judicata Law Firm</h1>
            </div>
        </main>
</body>
</html>